
*.lock
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide-wal
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/FlutterApi/obj/Debug/netcoreapp3.1/FlutterApi.csprojAssemblyReference.cache
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.csprojAssemblyReference.cache
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/obj/Debug/netcoreapp3.1/Business.csprojAssemblyReference.cache
FlutterApi/.vs/FlutterApi/v16/.suo
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide-wal
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Business/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Business/obj/Debug/netcoreapp3.1/Business.csprojAssemblyReference.cache
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Dal/Concrete/EntityFramework/Context/FlutterContext.cs
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.csprojAssemblyReference.cache
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Entities/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Entities/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Entities/obj/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Entities/obj/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/FlutterApi/obj/Debug/netcoreapp3.1/FlutterApi.csprojAssemblyReference.cache
FlutterApi/Interfaces/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Interfaces/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Interfaces/obj/Debug/netcoreapp3.1/Interfaces.csprojAssemblyReference.cache
.dart_tool/flutter_build/b9a81b86e755a0082ee33a4b7b6bc573/.filecache
.dart_tool/flutter_build/b9a81b86e755a0082ee33a4b7b6bc573/app.dill
.dart_tool/flutter_build/b9a81b86e755a0082ee33a4b7b6bc573/kernel_snapshot.d
.flutter-plugins-dependencies
build/app/generated/not_namespaced_r_class_sources/debug/r/com/example/drawTask/R.java
build/app/intermediates/blame/res/debug/single/debug.json
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_assets/NOTICES
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/mergeDebugResources/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
build/app/intermediates/merged_assets/debug/out/flutter_assets/NOTICES
build/app/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
build/app/intermediates/symbols/debug/R.txt
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/app/outputs/logs/manifest-merger-debug-report.txt
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
build/fluttertoast/generated/source/buildConfig/debug/io/github/ponnamkarthik/toast/fluttertoast/BuildConfig.java
build/fluttertoast/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
build/fluttertoast/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
build/fluttertoast/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
build/fluttertoast/intermediates/incremental/mergeDebugShaders/merger.xml
build/fluttertoast/intermediates/incremental/packageDebugAssets/merger.xml
build/fluttertoast/intermediates/incremental/packageDebugResources/compile-file-map.properties
build/fluttertoast/intermediates/incremental/packageDebugResources/merger.xml
build/fluttertoast/intermediates/library_manifest/debug/AndroidManifest.xml
build/fluttertoast/intermediates/local_only_symbol_list/debug/parseDebugLibraryResources/R-def.txt
build/fluttertoast/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
build/fluttertoast/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
build/fluttertoast/intermediates/symbols/debug/R.txt
build/fluttertoast/outputs/logs/manifest-merger-debug-report.txt
.flutter-plugins-dependencies
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/apk/debug/app-debug.apk
build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
.dart_tool/flutter_build/b9a81b86e755a0082ee33a4b7b6bc573/app.dill
.dart_tool/flutter_build/b9a81b86e755a0082ee33a4b7b6bc573/.filecache
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
build/app/outputs/flutter-apk/app.apk.sha1
FlutterApi/.vs/FlutterApi/v16/.suo
FlutterApi/Business/obj/Debug/netcoreapp3.1/Business.csprojAssemblyReference.cache
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.csprojAssemblyReference.cache
FlutterApi/FlutterApi/obj/Debug/netcoreapp3.1/FlutterApi.csprojAssemblyReference.cache
FlutterApi/Interfaces/obj/Debug/netcoreapp3.1/Interfaces.csprojAssemblyReference.cache
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide-wal
