
*.lock
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide-wal
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/FlutterApi/obj/Debug/netcoreapp3.1/FlutterApi.csprojAssemblyReference.cache
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.csprojAssemblyReference.cache
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/obj/Debug/netcoreapp3.1/Business.csprojAssemblyReference.cache
FlutterApi/.vs/FlutterApi/v16/.suo
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide
FlutterApi/.vs/FlutterApi/v16/Server/sqlite3/storage.ide-wal
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Business/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Business/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Business/obj/Debug/netcoreapp3.1/Business.csprojAssemblyReference.cache
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Dal/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Dal/Concrete/EntityFramework/Context/FlutterContext.cs
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.csprojAssemblyReference.cache
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.dll
FlutterApi/Dal/obj/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/Entities/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Entities/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Entities/obj/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Entities/obj/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.dll
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Dal.pdb
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/FlutterApi/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/FlutterApi/obj/Debug/netcoreapp3.1/FlutterApi.csprojAssemblyReference.cache
FlutterApi/Interfaces/bin/Debug/netcoreapp3.1/Entities.dll
FlutterApi/Interfaces/bin/Debug/netcoreapp3.1/Entities.pdb
FlutterApi/Interfaces/obj/Debug/netcoreapp3.1/Interfaces.csprojAssemblyReference.cache
